/* ENTER TRANSITION */
/* Declare transition start properties*/
.slideLeft-enter {
    transform: translateX(100vw);
    opacity: 0;
    position: absolute;
    
}

/* Declare transition properties */
.slideLeft-enter.slideLeft-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms ease 300ms;
}

/* EXIT TRANSITION */
.slideLeft-exit {
    transform: translateX(0);
    opacity: 1;
    
}

.slideLeft-exit.slideLeft-exit-active {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 150ms ease
}

.slideRight-enter {
    transform: translateX(-100vw);
    opacity: 0;
    position: absolute;
    
}

/* Declare transition properties */
.slideRight-enter.slideRight-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms ease 300ms;
}

/* EXIT TRANSITION */
.slideRight-exit {
    transform: translateX(0);
    opacity: 1;
    
}

.slideRight-exit.slideRight-exit-active {
    transform: translateX(100vw);
    opacity: 0;
    transition: all 150ms ease
}